html,
body {
    background: #f9f10c;
    font-family: 'Ubuntu';
}

* {
    box-sizing: border-box;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
        'f v'
        'ch v';

    grid-template-rows: 90px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;

    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
